

body {
    background-color: #fbfbfb;
    font-family: 'Lora', serif;
    margin: 0;
    font-size: 105%;
    padding: 0 7%;
}


header {
    font-size: 125%;
    margin: 0 60px 0 60px;
    margin-bottom: 2em;
    padding: 0;
    z-index: 9999;
    position: relative;
    border-bottom: 1px solid black;
}

#home {
    display: inline-block;
   
}


.header__home-gap {
    margin-right: .5em;    
}

.header-link {
    margin: .6  0em 0 0 0;
    padding: .2em 0 .4em 0;
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 9999;
}

#header-links {
    display: inline-block;
}

#menu .header-link  {
    margin-left: 1em ;

}

.header-link:hover {
    color: #888;
}

#mobile-header {
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0 30%;
    text-align: center;
    height: 100%;
    transition: 300ms;
    transition-delay: 100ms;
    opacity: 0;
}

#mobile-header-links {
}

#mobile-header-links a {
    display: block;
    font-size: 130%;
    padding: .2em 0;
}

#mobile-header-links  {
    display: block;
}

#logo {
    position: absolute;
    top: 15px;
}


.frame {
    display: block;
    max-width: 1300px;
    margin: 10px auto 20px auto;
    padding-bottom: 2%;
    border: 1px #ccc;
    border-style: ;
}

#menu {
    float: right;
}


#menu-hamburger {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
    background-color: transparent; /* Green */
    border: none;
    text-decoration: none;
    height: 60px;
    font-size: 16px;

    position: absolute;
    padding: 0px 5% 0 40px;
    top: 0px;
    right: 0px;
}

.showcase {
    text-align: center;
    padding: 50px 70px;
    
    border-radius: 6px;
}

#slideout {
    position: absolute;
    overflow: hidden;
    left: 0px;
    width: 100%;
    z-index: 0;
    background-color: #fbfbfb;
    border-bottom: 1px solid #333;
    margin: 0;
    transition: 500ms;
    height: 0;
    transition-timing-function: ease-in-out;
}


#contact__form-container {
    width: 450px;
    margin:      auto;
    min-height: 0;
}

.contact__form-container--row  {
    margin: 0 0 30px 0;
}

.contact__form-container--row input {
    width: 100%;
    border: 0;
    background: none;
    word-wrap: break-word;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    outline: 0;
    border: none;
    color: inherit;
    width: 100%;
    border-bottom: 1px solid black;
}

.contact__form-container--row textarea {
    resize: none;
    outline: none;
    border: none;
    background: none;
    overflow: auto;
    border-bottom: 1px solid black;
}

.contact__form-container--row label {
    text-align: right;
    width: 100px;
    margin-left: -130px;
    background-color: none;
    position: absolute;
}

#contact-button {
    cursor: pointer;

}

#contact-button::after {
    content: "";
    height: 10px;
    width: 24px;
    margin-left: .2em;
    display: inline-block;
    background-image: url(spoiler.svg);
    background-repeat: no-repeat;
    transition: .3s;
    top: -2px;
    position: relative;
}

#contact-button:hover + #contact-button::after {
    opacity: 60%;
}

#contact-toggle-checkbox {
    visibility: hidden;
    position: absolute;

}

#contact-toggle-checkbox {
    
}


#contact-toggle-checkbox:checked ~ #slideout {
    opacity: 100%;
    visibility: visible;
    height: 100%;
}

#menu input[type=checkbox]:checked + label::after {

    transform: scaleY(-1);
}

#contact-toggle-checkbox:checked ~ #slideout #mobile-header {
    opacity: 100;
    transition-delay: 200ms;
}


/*#contact__form-container {
    opacity: 0%;

}*/

#contact-toggle-checkbox:checked ~ #contact__form-container {
    opacity: 100%;  
}

.header-contactform-toggler {
    padding: 6px;
    font-size: inherit;
    
}


.showcase-container {
    padding: 0;
    margin: 0;
    text-align: center;
}

.showcase-container__title {
    font-size: 120%;

}

.showcase-container figcaption {
    margin-top: 1.3em;
}

.showcase-container img {
    max-height: 600px;
    padding: 15px;
    background-color: #f5f5f5;
    border: 2px solid #dddddd;
    
}

.showcase-container__year {
    font-size: 95%;
    color: #7e7e7e;
    display: block;
    margin-top: .5em;
}

.pricelist {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    border: none;
    

}

.pricelist td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pricelist tr:first-child td {
    padding-top: 0;
}

.pricelist tr:last-child td {
    padding-bottom: 0;
}

.pricelist__entry__id {
    width: 10%;
}


.pricelist__entry__thumbnail {
    width: 30%;
    text-align: center;
    height: 60px;
}

.pricelist__entry__thumbnail img {
    max-height: 120px;
    cursor: zoom-in;
    vertical-align: inherit;
}   

.pricelist__entry__title {
    width: 40%;
    padding: 0 2em;
    text-align: right;
}

.pricelist__entry__title__float {
    display: inline-block;
    text-align: center;
}

.pricelist__entry__year {
    width: 10%;
}

.pricelist__entry__price {
    width: 10%;
    text-align: right;
}

.pricelist__entry {
    
}



@media screen and (max-width: 850px) {
    body {
        padding: 0 !important;
    }

    #slideout {
        top: 0px;
        border: 0;
        transition: 800ms;
    }

    .frame {
        margin: 0;
        background-color: transparent;
    }

    .showcase-container img {
        height: auto;
        width: 100%;
        border: 0;
        padding: 0;
    }

    .showcase-container__title {
        font-size: 110%;
      }

    .showcase-container {
        height: auto;
      }

    #contact-button {
        padding: 0 .8em;
    }

    #contact-button span {
        display: none;
    }
    
    .header-link {
        margin: 0;
        padding: 0 1.5em;
        color: black;
        text-decoration: none;
        display: inline-block;
        line-height: 45px;
    }
    
    #header-links {
        display: none;
    }

    #header-links a {
        display: inline-block;
        
    }


    main {
        padding: 0;
        margin: 0;
    }

    header {
        font-size: 130%;
        margin: 0;
        margin-bottom: 20px;
    }    

    #header__home {
        padding: 0px .7em;
        font-size: inherit;
    }

    #header__home::before {
        margin-top: .2em;
        margin-left: -.2em;
        height: 36px;
        width: 36px;
    }

    #menu .header-link {
        margin-left: 0;
    }

    #contact__form-container {
        display: none;
    }

    
    #contact-toggle-checkbox:checked ~ #slideout {
        opacity: 100%;
        visibility: visible;
        position: absolute;
        height: 100vh;
    }

    .header__home-gap {
        margin-right: .4em;
    }

    .showcase {
        background-color: transparent;
        padding: 0;
        border-radius: 2px;
    }

    .header-link:hover {
        opacity: 100%;
    }

    #menu-hamburger {
        display: inline-block;

    }
    

    .pricelist {
        width: auto;
        padding: 0;
        margin: 20px;
    }

    .pricelist__entry__thumbnail {
        padding: 0 2%;
    }

    .pricelist__entry__thumbnail img {
        max-height:  50px;
    }

    .pricelist__entry__id {
        width: auto;
    }
    
}